<div class="page-footer">
  <div class="container-core">
    <div class="footer-link">
      <div class="link-container">
        <div class="link-group">
          <div class="link-name">设计</div>
          <div class="link-items">
            <div class="link-item"><a href="">设计原则</a></div>
            <div class="link-item"><a href="">设计规范</a></div>
          </div>
        </div>
        <div class="link-group">
          <div class="link-name">开发文档</div>
          <div class="link-items">
            <div class="link-item"><a href="">Vue2</a></div>
            <div class="link-item"><a href="">Vue3</a></div>
            <div class="link-item"><a href="">React</a></div>
            <div class="link-item"><a href="">Taro</a></div>
          </div>
        </div>
        <div class="link-group">
          <div class="link-name">资源</div>
          <div class="link-items">
            <div class="link-item"><a href="" target="_blank">Figma 设计图</a></div>
            <div class="link-item"><a href="" target="_blank">Icon Apron</a></div>
            <div class="link-item"><a href="" target="_blank">Awesome Apron</a></div>
            <div class="link-item"><a href="" target="_blank">npm</a></div>
            <div class="link-item"><a href="" target="_blank">Github</a></div>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="qr-code">
          <img src="../../assets/images/contact.png" />
        </div>
        <div class="contact-info">
          <div class="contact-title">联系我们</div>
          <div class="contact-sub">请扫描此二维码加入飞书群组</div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer-copyright">
        <img src="../../assets/images/logo.png" />
        <span>UED & 前端架构 ©️ Copyright Offontime 2022-{{ year }}</span>
      </div>
      <div class="footer-beian">
        <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">京ICP备15063748号-11</a>
      </div>
    </div>
  </div>
</div>