.apron-input {
  background: var(--color-background-hover);
  border: 1px solid transparent;
  height: 40px;
  width: 300px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all, 300ms;
  padding: 0 15px;
  overflow: hidden;
  .input-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    input {
      height: 100%;
      line-height: 100%;
      font-size: 14px;
      color: var(--color-primary);
      border: 0;
      background: transparent;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    .append-button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      .append-button {
        height: 20px;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
  .apron-input-prepend, .apron-input-append {
    color: var(--color-text);
    font-size: 14px;
  }
  .apron-input-prepend {
    margin-right: 15px;
  }
  .apron-input-append {
    margin-left: 15px;
  }
}
.apron-input-filled {
  background: var(--color-background);
  border: 1px solid var(--color-primary);
}

.apron-input-disabled {
  background: var(--color-disabled-background);
  border: 1px solid var(--color-disabled-text);
  color: var(--color-disabled-text);
  cursor: not-allowed;
  .input-container {
    input {
      color: var(--color-disabled-text);
      cursor: not-allowed;
    }
  }
}
.search-button {
  margin-right: -15px;
  border-radius: 0;
  min-width: 60px;
  flex-shrink: 0;
  width: initial;
  height: 100%;
  padding: 0 10px;
  *:first-child {
    margin-right: 5px;
  }
}
